<link rel="stylesheet" href="/Css/mystyle.css" />

<footer id="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img
        src="/images/UMAlogo.png"
        alt="University of Madeira"
        class="footer-logo-icon"
      />
      <span>University of Madeira</span>
    </div>
    <p>&copy; 2025 University of Madeira. All rights reserved.</p>
  </div>
</footer>
