<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mystyle.css" />
    <title>About Us</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/header') %>

    <!-- About Section -->
    <section class="about">
      <h1 class="about__title">Meet Our Team</h1>
      <div class="team-container">
        <!-- Team Member 1 -->
        <div class="team-member" id="member1">
          <div class="team-member__image">
           <!--<img src="/images/aashish.HEIC" alt="Aashish" /-->
          </div>
          <h2 class="team-member__name">Aashish Kumar Thapa</h2>
          <p class="team-member__role">Developer</p>
          <div class="member-details">
            <p>Email: aashish.thapa1711@gmail.com</p>
            <p>Student Number: 2024623</p>
            <div class="social-links">
              <a href="#" class="social-link">Facebook</a>
              <a href="#" class="social-link">Twitter</a>
              <a href="#" class="social-link">LinkedIn</a>
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="team-member" id="member2">
          <div class="team-member__image">
           <!-- <img src="/images/jane_smith.jpg" alt="Carlos" /-->
          </div>
          <h2 class="team-member__name">Carlos</h2>
          <p class="team-member__role">UI/UX Designer</p>
          <div class="member-details">
            <p>Email: carlos@gmail.com</p>
            <p>Student Number: 789012</p>
            <div class="social-links">
              <a href="#" class="social-link">Facebook</a>
              <a href="#" class="social-link">Twitter</a>
              <a href="#" class="social-link">LinkedIn</a>
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="team-member" id="member3">
          <div class="team-member__image">
            <!-- img src="/images/emily_johnson.jpg" alt="Tiago" / -->
          </div>
          <h2 class="team-member__name">Tiago</h2>
          <p class="team-member__role">Developer </p>
          <div class="member-details">
            <p>Email: Tiago@gmail.com</p>
            <p>Student Number: 345678</p>
            <div class="social-links">
              <a href="#" class="social-link">Facebook</a>
              <a href="#" class="social-link">Twitter</a>
              <a href="#" class="social-link">LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/javascriptexe.js"></script>
  </body>
</html>
