<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="/css/about.css" />
    <title>About Us</title>
  </head>
  
  <body>
    <div class="aboutmaincss">
    <!-- Navbar -->
    <%- include('partials/header') %>
     <main>
    <!-- About Section -->
    <section class="about">
      <h1 class="about__title">Meet Our Developer</h1>
      <div class="team-container">
        <!-- Team Member 1 -->
        <div class="team-member" id="member1">
          <div class="team-member__image">
          </div>
          <h2 class="team-member__name">Aashish Kumar Thapa</h2>
          <p class="team-member__role">Developer</p>
          <div class="member-details">
            <p>Email: aashish.thapa1711@gmail.com</p>
            <p>Student Number: 2024623</p>
            <div class="social-links"> 
              <a href="https://x.com/aashishk2189?s=21" class="social-link">Twitter</a>
              <a href="https://www.linkedin.com/in/aashish-kumar-thapa-42a7062b0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="social-link">LinkedIn</a>
            </div>
          </div>
        </div>
       
    </section>
    </main>
    <%- include('partials/footer') %>
    
    </div>
  </body>
</html>
