<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Css/mystyle.css" />
    <link rel="stylesheet" href="/Css/editprofile.css" />
    <title>Edit Profile</title>
  </head>
  <body>
    <!-- Header from partials -->
    <%- include('partials/header') %>

    <div class="edit-profile-container">
      <h1>Edit Profile</h1>

      <!-- Edit Profile Form -->
      <form action="/editprofile" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">New Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            value="<%= user.username %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="profilePicture">Profile Picture:</label>
          <input
            type="file"
            id="profilePicture"
            name="profilePicture"
            accept="image/*"
          />
        </div>

        <button type="submit">Save Changes</button>
      </form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
