<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>Unauthorized Access</title>
  </head>
  <body>
    <div class="aboutmaincss">
      <%- include('partials/header') %>
      <main>
        <div class="cen_text">
          <h1>Forbidden</h1>
          <p>Trying to be smart!!!!</p>
          <p>You do not have permission to access this Admin page.</p>
          <a href="/loggedin">Go back to your dashboard</a>
        </div>
      </main>

      <!-- Navbar -->
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
