<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mystyle.css" />
    <title>Unauthorized Access</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Forbidden</h1>
    <p>Trying to be smart!!!!</p>
    <p>You do not have permission to access this page.</p>
    <a href="/loggedin">Go back to your dashboard</a>

    <!-- Navbar -->
    <%- include('partials/footer') %>
  </body>
</html>
